.pop-up {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pop-up.left-position {
  left: -50%;
  transform: translate(0%, -50%);
  transition: left ease-in-out 0.8s;
}
.pop-up:not(.left-position) {
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
